$font_custom_1: "Roboto",sans-serif;
$font_custom_2: "Anton",sans-serif;

// =================================
// COLORS PALETTE
// =================================

$color_1: #e80c0c;
$color_1_hover: #e80c0c;

$color_2: #a70707;
$color_2_hover: #d61a1a;

$color_3: #000;
$color_3_hover: #333;

$color_4: #000;
$color_4_hover: #333;



$black: #212121;
$white: #fff;

$titles_color_1: $white;
$titles_color_2: $color-1;